@font-face {
    font-family: "MyCustomFont";
    src: url("/src/assets/fonts/DMSans-VariableFont_opsz\,wght.ttf") format("truetype");
}
*{
    font-family: "MyCustomFont";
}
body{
    margin: 0%;
    padding: 0;
}